body {
    background: #808080;
    padding-top: 70px;
    position: relative;
}

.navbar-default {
    
	background: rgba(255, 255, 255, 0.2);
    border-color: rgba(220,160,140, 0);
}

.artwork {
    background: dimgrey;
}

.artwork2 {
    background: #505050;
}

.margin {
    margin-top: 60px;
    margin-bottom: 60px;
}

.nav-pills>li.active>a {
    background-color: #555555;
}

.img-responsive {
    max-width: 60%;
}

.blockquote-reverse {
    padding-right: 50px;
}

.h4 {
    margin-top: 30px;
}

.p {
    padding-bottom: 30px;
}

