content {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  padding-bottom: 30px;
  color: @content;

  .life {
    font-family: @font-content;
    background-color: #edfaee;
    padding-bottom: 15px;
  }

  .auditions {
    font-family: @font-content;
    background-color: #ebf4fb;
    padding-bottom: 15px;
  }

  .work {
    font-family: @font-content;
    background-color: #d8d1c9;
  }

  h1 {
    color: #5a3d1f;
    font-stretch: ultra-condensed;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 36px;
    font-weight: lighter;
  }

  .thumbnail {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
  }

  .col-sm-3 {
    margin-left: 15px;
    margin-right: 15px;
  }
}


@media(max-width: 768px) {
  content{
    h1 {
      padding-left: 40px;
    }
  }
}
@media(min-width: 768px) {
  content {
    h1 {
      text-align: center;
      font-size: 30px;
    }
    .thumbnail {
      transition: none;
    }
    h2 {
      font-size: 17px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media(min-width: 1000px) {
  content {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
    }
  }
}

@media(min-width: 1600px) {
  content {
    .container {
      width: 1600px;
      content-alignment: center;
    }
    h1 {
      font-size: 50px;
    }
  }
}



